<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= get_room_name(@meeting.room_id) %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>



<%= link_to 'Edit', edit_user_meeting_path(@meeting.user_id, @meeting.id) %> |
<%= link_to 'Back', user_meetings_path(@meeting.user_id) %>
